<h3 class="text-align-center">Translations Archive</h3>
$partial("templates/poly-list.html")$

<h3 class="text-align-center">English translations feeds</h3>
<p class="text-align-center">
  <a href="/gen/en/poly-rss.xml" target="_blank">RSS</a> | <a href="/gen/en/poly-atom.xml" target="_blank">Atom</a>
</p>

<h3 class="text-align-center">Italian translations feeds</h3>
<p class="text-align-center">
  <a href="/gen/it/poly-rss.xml" target="_blank">RSS</a> | <a href="/gen/it/poly-atom.xml" target="_blank">Atom</a>
</p>
