<h3 class="text-align-center">Reviews Archive</h3>
$partial("templates/review-list.html")$

<h3 class="text-align-center">English posts feeds</h3>
<p class="text-align-center">
  <a href="/gen/en/review-rss.xml" target="_blank">RSS</a> | <a href="/gen/en/review-atom.xml" target="_blank">Atom</a>
</p>

<h3 class="text-align-center">Italian posts feeds</h3>
<p class="text-align-center">
  <a href="/gen/it/review-rss.xml" target="_blank">RSS</a> | <a href="/gen/it/review-atom.xml" target="_blank">Atom</a>
</p>
