$body$

<hr>
<h4 class="text-center">Online Profiles</h4>
<nav class="nav-inline text-center">
  <ul>
    <li>
      <a href="https://www.goodreads.com/user/show/9318617-giacomo-mantani">
        <figure>
          <img width="35px" src="/static/img/goodreads-sm.png" alt="image-logo"/>
          <figcaption><p class="text-center">Goodreads<br>( <b>Books</b> )</p></figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="https://medium.com/@giacomo.mantani">
        <figure>
          <img width="35px" src="/static/img/medium.svg" alt="image-logo"/>
          <figcaption><p class="text-center">Medium<br>( <b>Thoughts</b> )</p></figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="https://giacomo-mantani.deviantart.com">
        <figure>
          <img width="25px" src="/static/img/deviantArt.png" alt="image-logo"/>
          <figcaption><p class="text-center">DeviantArt<br>( <b>Artistic creations</b> )</p></figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="https://github.com/jak3">
        <figure>
          <img width="42px" src="/static/img/github.jpg" alt="image-logo"/>
          <figcaption><p class="text-center">Github<br>( <b>Software</b> )</p></figcaption>
        </figure>
      </a>
    </li>
  </ul>
</nav>
