<h3 class="text-center">Archivio degli Estratti</h3>
$partial("templates/post-list.html")$

<h3 class="text-center"><small>Feed disponibili estratti in italiano</small></h3>
<p class="text-center">
  <a href="/gen/it/rss.xml" target="_blank">RSS</a> | <a href="/gen/it/atom.xml" target="_blank">Atom</a>
</p>

<h4 class="text-center"><small>Feed disponibili estratti in inglese</small></h4>
<p class="text-center">
  <a href="/gen/en/rss.xml" target="_blank">RSS</a> | <a href="/gen/en/atom.xml" target="_blank">Atom</a>
</p>
