<h3 class="text-align-center">Archivio degli Estratti</h3>
$partial("templates/post-list.html")$

<h3 class="text-align-center">Feed disponibili estratti in italiano</h3>
<p class="text-align-center">
  <a href="/gen/it/rss.xml" target="_blank">RSS</a> | <a href="/gen/it/atom.xml" target="_blank">Atom</a>
</p>

<h3 class="text-align-center">Feed disponibili estratti in inglese</h3>
<p class="text-align-center">
  <a href="/gen/en/rss.xml" target="_blank">RSS</a> | <a href="/gen/en/atom.xml" target="_blank">Atom</a>
</p>
