<h3 class="text-align-center">Archivio delle Traduzioni</h3>
$partial("templates/poly-list.html")$

<h3 class="text-align-center">Feed disponibili traduzioni in italiano</h3>
<p class="text-align-center">
  <a href="/gen/it/poly-rss.xml" target="_blank">RSS</a> | <a href="/gen/it/poly-atom.xml" target="_blank">Atom</a>
</p>

<h3 class="text-align-center">Feed disponibili traduzioni in inglese</h3>
<p class="text-align-center">
  <a href="/gen/en/poly-rss.xml" target="_blank">RSS</a> | <a href="/gen/en/poly-atom.xml" target="_blank">Atom</a>
</p>
