<h3 class="text-align-center">Archivio delle Recensioni</h3>
$partial("templates/review-list.html")$

<h3 class="text-align-center">Feed disponibili recensioni in italiano</h3>
<p class="text-align-center">
  <a href="/gen/it/review-rss.xml" target="_blank">RSS</a> | <a href="/gen/it/review-atom.xml" target="_blank">Atom</a>
</p>

<h3 class="text-align-center">Feed disponibili recensioni in inglese</h3>
<p class="text-align-center">
  <a href="/gen/en/review-rss.xml" target="_blank">RSS</a> | <a href="/gen/en/review-atom.xml" target="_blank">Atom</a>
</p>
