$body$

<hr>
<h3 class="text-align-center">Profili in Rete</h3>
<nav class="nav-inline text-align-center no-padding-vertical">
  <ul>
    <li>
      <a href="https://www.goodreads.com/user/show/9318617-giacomo-mantani">
        <figure>
          <img width="35px" src="/static/img/goodreads-sm.png" alt="image-logo"/>
          <figcaption><p class="text-align-center">Goodreads<br>( <b>Libri</b> )</p></figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="https://giacomo-mantani.medium.com">
        <figure>
          <img width="35px" src="/static/img/medium.svg" alt="image-logo"/>
          <figcaption><p class="text-align-center">Medium<br>( <b>Riflessioni</b> )</p></figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="https://giacomo-mantani.deviantart.com">
        <figure>
          <img width="25px" src="/static/img/deviantArt.png" alt="image-logo"/>
          <figcaption><p class="text-align-center">DeviantArt<br>( <b>Creazioni Artistiche</b> )</p></figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="https://github.com/jak3">
        <figure>
          <img width="35px" src="/static/img/github.jpg" alt="image-logo"/>
          <figcaption><p class="text-align-center">Github<br>( <b>Software</b> )</p></figcaption>
        </figure>
      </a>
    </li>
  </ul>
</nav>
