$body$

<script>

  function plantTemplate(pianta) {
      return `
  <div class="group group-m group-column border border-radius
 background-light-50 border-color-success-100 margin-m padding-m" id="pianta-$${pianta.nome}">
    <ul>
       <li><h3>$${pianta.nome}</h3></li>
       $${pianta.pianeti ? `<li>$${pianta.pianeti}</li>` : ""}
       $${pianta.segni ? `<li>$${pianta.segni}</li>` : ""}
       <li>$${pianta.descrizione}</li>
    </ul>
  </div>
         `;
    }

  function search_word(){
      input = document.getElementById('input_w');
      filter = input.value.toUpperCase();
      document.querySelectorAll('[id^=pianta]').forEach(pianta => {
          content = pianta.textContent.replace(/\s+/g, '').toUpperCase()
          pianta.style.display = content.indexOf(filter) > -1 ? "" : "none";
        });
    }

$$(document).ready(function(){
  $$.getJSON("/static/plants.json", function(plants){
      plants = plants.filter(plant => isNaN(plant.seq) == false);
      $$(plants.map(plantTemplate).join("")).appendTo("#plants");
      $$(plants.map(plant => plant.nome).filter((v,i,a) => a.indexOf(v) ===
          i).sort().map(plant => `<li id="pianta-$${plant}" class="border
 border-radius"><b class="padding-xxs">$${plant}</b></li>`).join("")).appendTo("#plants_list");
  });
});
</script>

<div class="group group-space-evenly group-m margin-m">
  <ul>
    <li>Filtra:</li>
    <li><input type="text" onkeyup="search_word()" placeholder="parola da cercare..." id="input_w"></li>
  </ul>
</div>

<div class="group group-m border border-radius
 background-light-50 border-color-success-100 margin-m padding-m">
  <ul id="plants_list">

  </ul>
</div>

<div id="plants">
</div>
