$body$

<div class="group group-space-evenly group-m margin-m">
  <ul>
    <li>Filtra:</li>
    <li><input type="text" id="search_input" placeholder="parola da cercare..." oninput="searchPlants()"></li>
  </ul>
</div>

<button class="border border-radius cursor-pointer z-index-high display-none
               transition-medium position-fixed position-bottom-right margin-s
               border-color-success-100 font-size-l font-weight-extra-bold" id="back-to-list"
               onclick="scrollToPlantsList()"
               title="Torna all'elenco">↑</button>

<div class="group group-m group-column border border-radius background-light-50 border-color-success-100 margin-m padding-m" id="plants_list"></div>
<div id="plants"></div>

<script>
  function plantTemplate(pianta) {
    return `
        <div class="group group-m group-column border border-radius background-light-50 border-color-success-100 margin-m padding-m" id="pianta-$${pianta.nome}">
            <h3>$${pianta.nome}</h3>
            $${pianta.pianeti ? `<p><strong>Pianeti:</strong> $${pianta.pianeti}</p>` : ""}
            $${pianta.segni ? `<p><strong>Segni:</strong> $${pianta.segni}</p>` : ""}
            <p>$${pianta.descrizione.replace(/\n/g, "<br />")}</p>
        </div>
        `;
  }

  function searchPlants() {
    const input = document.getElementById('search_input');
    const filter = input.value.toUpperCase();
    const plantCards = document.querySelectorAll('[id^=pianta]');

    plantCards.forEach(pianta => {
      const content = pianta.textContent.replace(/\s+/g, '').toUpperCase();
      pianta.style.display = content.includes(filter) ? "" : "none";
    });
  }

  function scrollToPlantsList() {
    const plantsList = document.getElementById('plants_list');
    plantsList.scrollIntoView({ behavior: 'smooth' });
  }

  function toggleBackToListButton() {
    const backToListButton = document.getElementById('back-to-list');
    const plantsList = document.getElementById('plants_list');

    const shouldShowButton = window.scrollY > plantsList.offsetHeight + plantsList.offsetTop;
    backToListButton.style.display = shouldShowButton ? 'flex' : 'none';
  }

  $$(document).ready(function() {

    window.addEventListener('scroll', toggleBackToListButton);

    $$.getJSON("/static/plants.json", function(plants) {
      // Filtra solo le piante con seq numerico
      plants = plants.filter(plant => !isNaN(plant.seq));

      // Crea la lista dei bottoni con i nomi delle piante
      const plantNames = [...new Set(plants.map(plant => plant.nome))].sort();
      const plantListHTML = plantNames.map(plant =>
        `<button onclick="scrollToPianta('$${plant}')" class="border
        border-radius margin-xxs" id="pianta-$${plant}-btn"><b class="padding-xxs">$${plant}</b></button >`
      ).join('');
      $$('#plants_list').html(plantListHTML);

      // Crea i dettagli delle piante
      const plantsHTML = plants.map(plantTemplate).join('');
      $$('#plants').html(plantsHTML);
    });
  });

  function scrollToPianta(nomePianta) {
    const pianta = document.getElementById(`pianta-$${nomePianta}`);
    if (pianta) {
      pianta.scrollIntoView({ behavior: 'smooth' });
    }
  }
</script>
